@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400&family=Noto+Serif+Display:wght@600&display=swap');

.page-content {
    margin : 4%;
}
body {
    margin : 0;
    font-family: 'Noto Sans Mono', monospace;
    background-color: whitesmoke;
}
nav {
    background-color: grey;
    display : flex;
    flex-wrap: wrap;
    justify-content : space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
nav .profile {
    display : flex;
    align-items: center;
}
nav .profile img{
    width : 65px;
    height : 65px;
    border-radius: 40%;
}
nav .profile h1 {
    font-size : 20px;
    margin-left: 10px;
}
nav ul {
    display : flex;
    list-style-type: none;
}
nav ul li {
    margin-left : 20px;
    cursor : pointer;
    margin-right: 1em;
    border-bottom: 1px solid grey; /* déclarer une bordure pour ensuite en mettre une différente au survol*/
}
nav ul li:hover {
    border-bottom-color: #000;
}
a {
    text-decoration: none;
    color:black;
}


.button {
	position: relative;
	margin: 10px auto 0;
	width: 200px;
	height: 50px;
	background: linear-gradient(0deg, #000, #272727);
    color:#00ff00;
    font-size : 15px;
    font-weight: bold;
    cursor : pointer;
}
button:hover {
    color : grey;
}

header h1 {
    margin : 0;
    text-transform: uppercase;
    font-family: 'Noto Serif Display',sans-serif;
    font-size : 3.5vw; /* prend 4% de la page "visuelle"*/
}

.page-content .projects-section {
    margin-top : 5%;
}
.page-content .projects-section h2 {
    font-family: sans-serif;
    font-size: 2vw;
}
.page-content .projects-section .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page-content .projects-section .projects .project h4 {
    margin : 0;
    font-size: 22px;
}

.page-content .projects-section .projects .project .description {
    font-size: 15px;
}

.page-content .projects-section .projects .project .dates {
    font-size: 18px;
    color :rgb(145,145,145);
}


header p {
    line-height : 30px;
}

footer {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #000;
    color :#fff;
    padding : 10px;
}

footer .colonne p {
    font-size: 12px;
    color : #ccc;
    cursor : pointer;
}
footer .colonne p:hover {
	color: #fff;
}



@media screen and (max-width:700px) {
    nav {
        justify-content : center; 
    }
    nav ul {
        display: none;
    }
    header {
        margin-top : 10%;
        max-width: 100%;
    }
    footer {
		justify-content: flex-start;
	}
	footer .column {
		width: 80%;
	}
}