@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400&family=Noto+Serif+Display:wght@600&display=swap');

body {
    margin : 0;
    font-family: 'Noto Sans Mono', monospace;
    background-color: whitesmoke;
}
nav {
    background-color: grey;
    display : flex;
    flex-wrap: wrap;
    justify-content : space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
nav .profile {
    display : flex;
    align-items: center;
}
nav .profile img{
    width : 65px;
    height : 65px;
    border-radius: 50%;
}
nav .profile h1 {
    font-size : 20px;
    margin-left: 10px;
}
nav ul {
    display : flex;
    list-style-type: none;
}
nav ul li {
    margin-left : 20px;
    cursor : pointer;
    margin-right: 1em;
    border-bottom: 1px solid grey; /* déclarer une bordure pour ensuite en mettre une différente au survol*/
}
nav ul li:hover {
    border-bottom-color: #000;
}
a {
    text-decoration: none;
    color:black;
}
.page-content {
    margin : 4%;
}
header {
    margin-top : 5%;
    max-width : 80%;
}
header h1 {
    margin : 0;
    text-transform: uppercase;
    font-family: 'Noto Serif Display',sans-serif;
    font-size : 4vw; /* prend 4% de la page "visuelle"*/
}
header p {
    line-height : 30px;
    color : #818181
}

.button {
	position: relative;
	margin: 10px auto 0;
	width: 200px;
	height: 50px;
	background: linear-gradient(0deg, #000, #272727);
    color:#00ff00;
    font-size : 15px;
    font-weight: bold;
    cursor : pointer;
}

header button:hover {
    color : grey;
}

.page-content .image {
    margin-top :15px;
}
.page-content .image img {
    max-width: 100%;
}
.page-content .projects-section {
    margin-top : 6%;

}
.page-content .projects-section h1 {
    font-family: 'Noto Serif Display',sans-serif;
    text-transform: uppercase;
    font-size: 3vw;
}
.page-content .projects-section .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.page-content .projects-section .projects .project {
    max-width: 195px;
    margin-right: 20px;
}

.page-content .projects-section .projects .project h4 {
    margin : 0;
    font-size: 22px;
}

.page-content .projects-section .projects .project .description {
    font-size: 15px;
}

.page-content .projects-section .projects .project .dates {
    font-size: 18px;
    color :rgb(145,145,145);
}

footer {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #000;
    color :#fff;
    padding : 10px;
}

footer .colonne p {
    font-size: 12px;
    color : #ccc;
    cursor : pointer;
}
footer .colonne p:hover {
	color: #fff;
}

@media screen and (max-width:700px) {
    nav {
        justify-content : center; 
    }
    nav ul {
        display: none;
    }
    .page-content header {
        margin-top : 10%;
        max-width: 100%;
    }
    .page-content .projects-section  {
        margin-top : 15%;
    }
    .page-content .projects-section h1 {
        font-size : 1.5em;
    }
    .page-content .projects-section .projects .project {
        margin-right : 0;
        margin-bottom: 20px;
        max-width : 100%;
    }
    footer {
		justify-content: flex-start;
	}
	footer .column {
		width: 80%;
	}
}
